tetrisBusinessCard/tetrisBusinessCard-backups/*
tetrisBusinessCard/TetrisBusinessCardCode/TetrisBusinessCard/build/*
tetrisBusinessCard/TetrisBusinessCardCode/TetrisBusinessCard/.vscode/*
tetrisBusinessCard/*.lck